<!DOCTYPE html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <title>Resource Generator</title>

    </head>

    <body>
        <h1>Resource Generator</h1>

        <nav>
            <ul>
                <li>
                    <a>Times Tables</a>
                </li>
                <li>
                    <a>Indices</a>
                </li>
                <li>
                    <a>Trig Values</a>
                </li>
                <li>
                    <a>Area and Volume Formulae</a>
                </li>
            </ul>
        </nav>

        <h2> Times Tables Worksheet</h2>
        <form action="\worksheet" method="post">
            <fieldset>
                <label for="title-input">Worksheet Title: </label>
                <br/>
                <input type="text" id="title-input" name="title-input" value="Times Tables Quiz">
                <br/>

                <br/>

                <label for="questions-input">Number of Questions: </label>
                <br/>
                <input type="number" min="1" max="100" value="20" name="questions-input" id="questions-input">
                <br/>

            </fieldset>
            
            <fieldset>
                <legend>Times Tables</legend>
                {% for n in range(2,16) %}
                    <label for="checkbox{{n}}">{{n}}</label>
                    <input type="checkbox" value="{{n}}" name="checkbox{{n}}" id="checkbox{{n}}" checked>
                    <br/>
                {% endfor %}
            </fieldset>
            
            <br/>

            <button type="submit">Create Worksheet</button>

        </form>
    </body>
</html>
