<!DOCTYPE html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <title>Resource Generator</title>

        <link rel="stylesheet" type="text/css" href="/static/css/webpage-style.css">

    </head>

    <body>
        <h1>Resource Generator</h1>

        <nav>
            <a>Times Tables</a>
            <a>Division</a>
            <a>Indices</a>
            <a>Trig Values</a>
            <a>Area and Volume Formulae</a>
        </nav>

        <h2> Times Tables Worksheet</h2>
        <form action="\worksheet" method="post">
            <fieldset>
                <label for="title-input">Worksheet Title: </label>
                <input type="text" id="title-input" name="title" value="Times Tables Quiz">
                
                <br/>
                <br/>

                <label for="questions-input">Number of Questions: </label>
                <input type="number" min="1" max="100" value="20" name="questions" id="questions-input">
                
                <br/>
                <br/>

                <label for="up-to-input">Times Tables Up To:</label>
                <input type="number" min="2" max="100" value="12" name="up-to" id="up-to-input">
                
                <br/>
                <br/>

                <label for="instructions-input">Instructions:</label>
                <br/>
                <textarea type="" id="instructions-input" name="instructions" >Try to complete as many as you can in 1 minute.</textarea>
                

            </fieldset>
            
            <fieldset>
                <legend>Times Tables</legend>
                {% for n in range(2,16) %}
                    <label for="checkbox{{n}}">{{n}}</label>
                    <input type="checkbox" value="{{n}}" name="times-tables" id="checkbox{{n}}" checked>
                    <br/>
                {% endfor %}
            </fieldset>
            
            <br/>

            <button type="submit">Create Worksheet</button>

        </form>
    </body>
</html>
