<!DOCTYPE html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <title>Worksheet Generator</title>

    </head>

    <body>
        <h1>Worksheet Generator</h1>

        <nav>
            <ul>
                <li>
                    <a>Times Tables</a>
                </li>
                <li>
                    <a>Indices</a>
                </li>
                <li>
                    <a>Trig Values</a>
                </li>
                <li>
                    <a>Area and Volume Formulae</a>
                </li>
            </ul>
        </nav>

        <h2> Times Tables </h2>
    </body>
</html>
