<!DOCTYPE html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <title>Resource Generator</title>

        <link rel="stylesheet" type="text/css" href="/static/css/webpage-style.css">
        <script src="/static/js/webpage.js" type="text/javascript"></script>
    </head>

    <body>

        {% with current="indices" %}
            {% include "header.html" %}
        {% endwith %}
       
        <section>
            <h2> Basic Indices Worksheet</h2>
            <form action="\indicesWorksheet" method="post" onsubmit="return validateBoxes();">

                    
                    <label for="title-input">Worksheet Title: </label>
                    <input type="text" id="title-input" name="title" value="Basic Indices Quiz">
                    

                    <label for="questions-input">Number of Questions: </label>
                    
                    <input type="number" min="1" max="100" value="10" name="questions" id="questions-input">
                    
                    
                    

                    <label for="up-to-input">Indices Up To:</label>
                    <input type="number" min="2" max="10" value="3" name="up-to" id="up-to-input">
                    
                    <div class="extra-checkbox">
                        <label for="negative-indices-checkbox" class="checkbox-label">Include Negative Indices</label>
                        <input type="checkbox" id="negative-indices-checkbox" value="negative" name="indices-type">
                    </div>

                    <div class="extra-checkbox">
                        <label for="reciprocal-indices-checkbox" class="checkbox-label">Include Reciprocal Indices</label>
                        <input type="checkbox" id="reciprocal-indices-checkbox"  value="reciprocal" name="indices-type">
                    </div>

                    <div class="extra-checkbox">
                        <label for="zero-indices-checkbox" class="checkbox-label">Include Index of 0</label>
                        <input type="checkbox" id="zero-indices-checkbox"  value="zero" name="indices-type">
                    </div>


                    <label for="instructions-input">Instructions:</label>
                    
                    <textarea type="" id="instructions-input" name="instructions" >Practice your indices by doing these questions in your head. Try to complete as many as you can as quickly as you can.</textarea>
                    
                    
                    <label>Bases:</label>
                    
                    {% for n in range(2,13) %}
                    
                        <label for="checkbox{{n}}" class="checkbox-label">{{n}}</label>
                        <input type="checkbox" value="{{n}}" name="bases" id="checkbox{{n}}">
                        
                    {% endfor %}
                    <br/>

                    <div class="extra-checkbox">
                        <label for="select-all-checkbox" class="checkbox-label">Select/Deselect All</label>
                        <input type="checkbox" id="select-all-checkbox" onclick="selectAll()">
                    </div>
                    <p id="error-message" hidden>Please select at least 1 base.</p>
                
                    <br/>               
                    
                    
                    <button type="submit"value="Submit">Create Worksheet</button>
                    
                
            </form>
        </section>

        
    </body>
</html>
