<!DOCTYPE html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <title>Resource Generator</title>

        <link rel="stylesheet" type="text/css" href="/static/css/webpage-style.css">
        <script src="/static/js/webpage.js" type="text/javascript"></script>
    </head>

    <body>

        {% with current="timesTables" %}
            {% include "header.html" %}
        {% endwith %}

        <section>
            <h2> Basic Times Tables Worksheet</h2>
            <form action="\timesTablesWorksheet" method="post" onsubmit="return validateBoxes();">

                    
                    <label for="title-input">Worksheet Title: </label>
                    <input type="text" id="title-input" name="title" value="Basic Times Tables Quiz">
                    

                    <label for="questions-input">Number of Questions: </label>
                    
                    <input type="number" min="1" max="100" value="20" name="questions" id="questions-input">
                    
                    
                    

                    <label for="up-to-input">Times Tables Up To:</label>
                    
                    <input type="number" min="2" max="20" value="12" name="up-to" id="up-to-input">
                    
                    


                    <label for="instructions-input">Instructions:</label>
                    
                    <textarea type="" id="instructions-input" name="instructions" >Practice your Times Tables by doing these questions in your head. Try to complete as many as you can as quickly as you can.</textarea>
                    
                    
                    <label>Multiplicands:</label>
                    
                    {% for n in range(2,13) %}
                    
                        <label for="checkbox{{n}}" class="checkbox-label">{{n}}</label>
                        <input type="checkbox" value="{{n}}" name="multiplicands" id="checkbox{{n}}">
                        
                    {% endfor %}
                    <br/>

                    <div class="extra-checkbox">
                        <label for="select-all-checkbox" class="checkbox-label">Select/Deselect All</label>
                        <input type="checkbox" id="select-all-checkbox" onclick="selectAll()">
                    </div>
                    <p id="error-message" hidden>Please select at least 1 Multiplicand.</p>
                
                    <br/>               
                    
                    
                    <button type="submit"value="Submit">Create Worksheet</button>
                    
                
            </form>
        </section>

        
    </body>
</html>
