<!DOCTYPE html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ws.title}}</title>

        <link rel="stylesheet" href="/static/css/worksheet-style.css" type="text/css">

    </head>

    <body>
        <h1>{{ws.title}}</h1>
        

        {% if ws.instructions != "" %}
            <p id="instructions">{{ws.instructions}}</p>
        {% endif %}
        <div id="questions-box">
            {% for i in range(ws.questions|length) %}
                
                    <p class="question-num">{{i+1}})</p>
                    <p class="question"> {{ws.questions[i]}}</p>
                    <p class="equals-sign">=</p>
                
            {% endfor %}
        </div>
    </body>
</html>