<!DOCTYPE html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ws.title}}</title>

        <link rel="stylesheet" href="/static/css/style.css" type="text/css">

    </head>

    <body>
        <h1>{{ws.title}}</h1>

        <p>{{ws.instructions}}</p>

        <div id="questions-box">
            {% for i in range(ws.questions|length) %}
                <div class="question-line">
                    <p class="question-num">{{i+1}}</p>
                    <p class="question"> {{ws.questions[i]}}</p>
                    <p>=</p>
                </div>
            {% endfor %}
        </div>
    </body>
</html>